.featured-house {
  margin-top: 168px;
  height: 655px;

  &__nav {
    margin: 0 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-white;
    margin-bottom: 36px;

    h2 {
      flex: 1;
    }

    &__filters {
      flex: 1;
      list-style-type: none;
      @include flex-center(27px);
    }

    &__pagination {
      margin-left: auto;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 16px;
      flex: 1;
    }
  }
}