.tour-section {
  padding-top: 168px;
  padding-bottom: 120px;

  &__subtitle {
    font-weight: 300;
    color: $color-grey-2;
    line-height: 24px;
    max-width: 413px;
    margin-top: 16px;
  }

  &__details-container {
    margin-top: 24px;

    &__title {
      font-weight: 600;
      font-size: $font-size-body;
    }

    &__grid {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 220px 220px;
      row-gap: 16px;
      color: $color-grey-3;

      &__item {
        gap: 16px;
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
  }

  &__contact-container {
    border-top: 2px solid $color-grey-1;
    margin-top: 32px;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    max-width: 478px;
  }
}