.section {
  padding: 0 124px;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 54px;

  &__highlight {
    color: $color-primary;
  }

  &__blur-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &__bg-container {
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    border-bottom-left-radius: 80px;
    background-size: cover;
  }

  &__red-border {
    position: absolute;
    top: 18vh;;
    left: 56%;
  }

  &__yellow-border {
    position: absolute;
    top: 25vh;
    right: 14%;
  }

  &__blue-border {
    position: absolute;
    top: 51vh;
    right: 13.5%;
  }

  &__white-border {
    position: absolute;
    top: 295px;
    right: 27.5%;
  }

  &__house-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    max-height: 100%;
    border-bottom-left-radius: 80px;
    background-size: cover;
  }

  &__bg-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    max-height: 50vw;
    border-bottom-left-radius: 80px;
    background-size: cover;
    background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%);

  }

  &__main {
    max-width: 496px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 50px;
  }

  &__subtitle,
  &__partnership {
    color: $color-grey-3;
    font-size: $font-size-body;
    font-weight: 300;
    line-height: 24px;
  }

  &__subtitle {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  &__partnership {
    margin-top: 32px;
    margin-bottom: 8px;
  }

  &__partners {
    display: flex;
    gap: 32px;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    height: 64px;
  }

  &__partner {
    width: 82.75px;
  }

}