.dropdown {
  position: relative;

  &__select {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 28px;
    gap: 24px;
    max-height: 34px;
    z-index: 10;
    font-family: inherit;
    font-size: $font-size-label;
    font-weight: 600;
    cursor: default;

    svg {
      width: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
      fill: $color-white;
    }
  }

  &__content {
    display: none;
    min-width: max-content;
    position: absolute;
    border-radius: 16px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    width: 100%;
    font-family: inherit;
    left: 0;
    padding: 8px;
    padding-top: 6px;
    top: 0;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: $color-white;
  }

  &__option {
    width: 100%;
    max-height: 34px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 28px;
    font-weight: 500;
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
    }
  }

  &:hover &__content {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    z-index: 1;
  }
}