.input {
  border-radius: 28px;
  border: 1px solid $color-grey-1;
  height: 56px;
  max-width: 496px;
  padding: 16px 24px;
  font-family: inherit;
  font-weight: 500;
  font-family: inherit;
  color: $color-black;
  font-size: $font-size-label;

  &:invalid:not(:focus) {
    border-color: $color-danger;
    position: relative;

    +.input__error-label {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &--complex {
    padding: 4px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color-grey-1;
    max-width: 496px;
    height: 56px;
    border-radius: 28px;
    background-color: #fff;
    transition: border-color 100ms ease;

    &__icon {
      @include flex-center;
      margin-right: 16px;

      &--secondary {
        color: $color-secondary;
      }

      &--info{
        color: $color-info;
      }
    }

    &:focus-within {
      border-color: $color-grey-2;
    }

    &__field {
      border: none;
      height: 100%;
      width: 100%;
      font-weight: 500;
      font-family: inherit;
      color: $color-black;


      &:focus {
        outline: none;

        &::placeholder {
          opacity: 0;
        }
      }

      &::placeholder {
        transition: all .2s;
        color: $color-grey-2;
        font-family: inherit;
      }
    }
  }

  &--textarea {
    resize: none;
    min-height: 144px;

    &__char-count {
      position: absolute;
      z-index: 5;
      right: 24px;
      bottom: 16px;
      font-size: 12px;
      color: $color-grey-2;
    }
  }


  &__error-label {
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 8px;
    display: block;
    opacity: 0;
    transform: translateY(-40px);
    position: absolute;
    transition: all .1s;
    color: $color-danger
  }
}

.dropdown--field {
  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    z-index: 20;
    background-color: $color-white;
    border: none;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-family: inherit;
    color: $color-black;
  }

  position: relative;
  z-index: 20;

  &__content {
    position: absolute;
    top: -38px;
    left: -24px;
    padding-top: 56px;
    background: #fff;
    border: 1px solid $color-grey-1;
    border-radius: 28px;
    border-top: none;
    display: none;
    flex-direction: column;
    z-index: 10;
  }

  &.open .dropdown--field__content {
    display: flex;
  }

  &__option {
    padding: 12px 16px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: #fff;
      border-radius: 28px;
    }
  }
}