.section-tag {
  position: relative;
  display: flex;
  gap: 8px;
  color: $color-secondary;

  svg {
    margin-top: 5px;
  }

  left: -40px;
  margin-bottom: 6px;

  &--centered {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    svg {
      margin-top: 0px;
    }
    margin-bottom: 0px;
  }
}